{{ $timestamp := now.Unix | div 3600 }}
{{ $telemetryURL := printf "https://telemetry.sys.truenas.net/apps/truenas-apps-stats.json?t=%d" $timestamp }}
{{ $telemetryData := resources.GetRemote $telemetryURL | transform.Unmarshal | default dict }}
{{ $appName := .appName | lower }}
{{ $appTrain := .appTrain | lower }}
{{ $telemetryTrain := cond (eq $appTrain "enterprise") "Enterprise" (cond (eq $appTrain "stable") "Stable" "Community") }}
{{ $deploymentCount := 0 }}

{{ with index $telemetryData $telemetryTrain }}
  {{ range $k, $v := . }}
    {{ if eq (lower $k) $appName }}
      {{ $deploymentCount = $v }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if gt $deploymentCount 0 }}
  <div class="popular-app">
    {{ if gt $deploymentCount 20000 }}
      <img src="/images/Gold-Labeled.png" alt="20,000 active deployments icon" style="width: 5rem; vertical-align: middle;"><br>
    {{ else if gt $deploymentCount 10000 }}
      <img src="/images/Silver-Labeled.png" alt="10,000 active deployments icon" style="width: 5rem; vertical-align: middle;"><br>
    {{ else if gt $deploymentCount 5000 }}
      <img src="/images/Bronze-Labeled.png" alt="5,000 active deployments icon" style="width: 5rem; vertical-align: middle;"><br>
    {{ else if gt $deploymentCount 2500 }}
      <img src="/images/Blue-Ribbon-Labeled.png" alt="2,500 active deployments icon" style="width: 5rem; vertical-align: middle;"><br>
    {{ else if gt $deploymentCount 1000 }}
      <img src="/images/Ribbon-Labeled.png" alt="1,000 active deployments icon" style="width: 5rem; vertical-align: middle;"><br>
    {{ end }}
  </div>
{{ end }}