{{ define "main" -}}
<div class="td-content" data-pagefind-ignore>
  <div>
    <h1 style="font-weight: 1000; text-align: center;">404</h1>

    <img src="{{ "/images/connect-logo-full-color-horizontal.svg" | relURL }}" alt="TrueNAS Connect" style="max-width: 300px; padding: inherit; margin:auto; width: 200px; display: block;">
    <div style="padding-top: 4em; padding-left: 8em; padding-right: 8em;">
    <h2>Lost?</h2>
    <p>The content you are looking for might no longer exist. Use the navigation tools above to browse the TrueNAS Connect documentation or return to the <a href="{{ "" | relURL }}">TrueNAS Connect home page</a>.</p>
    </div>
  </div>
</div>
{{- end }}
