<!-- This shortcode builds a security responses data table by importing a JSON file and populating the table from specific objects in that file.
 Shortcode parameter: url="<some web address or local file>" This points the shortcode to a specific JSON file to use for rendering the table.
 Shortcode assumed values:
   - These json objects are specifically used to populate the securityTable, versionSelect, and advisory-details sections with values:
     - cve
	 - moreinfo
	 - component
	 - description
	 - productVersion
	 - severity
	 - impactTruenas
	 - truenasSecurityRisk
	 - ixbug
  -->

{{ if .IsNamedParams }}
{{ $styles := resources.Get "css/modern-tables.css" | resources.Fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>

<div class="table-controls">
  <select id="versionSelect" onchange="onVersionSelectChange()" aria-label="Product Selector">
    <option value="all">Select a Product</option>
  </select>
  <input type="text" id="searchInput" placeholder="Search...">
  <span class="securitycheckbox">
    <label for="showFalsePositivesCheckbox">Show False Positives:</label>
    <input type="checkbox" id="showFalsePositivesCheckbox" onchange="filterTable()">
  </span>
  <button onclick="resetTable()" class="security-button">Reset</button>
  <button onclick="exportTableToCSV()" class="security-button">Export Table</button>
</div>

<div class="tablecontainer" id="tablecontainer">
  <table id="securityTable" class="truetable">
    <thead>
      <tr> <!-- Adjust these headers to reflect the json object keys that are being imported -->
        <th onclick="sortTable(0)">Reference</th>
        <th onclick="sortTable(1)">Base Severity (NIST)</th>
		<th onclick="sortTable(2)">Description</th>
		<th onclick="sortTable(3)">TrueNAS Vulnerability Rating</th>
		<th onclick="sortTable(4)">Fix Version</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <!-- Table rows will be dynamically added here -->
    </tbody>
  </table>
</div>
<div id="advisory-details" class="advisory-details"><!-- additional information about a clicked row is made visible here --></div>

<script src="/js/advisory-tables.js"></script>
<script>
  // Initialize the table with the specified URL
  document.addEventListener('DOMContentLoaded', function() {
    const url = '{{ .Get "url" }}';
    console.log('Loading advisory solutions data from:', url);
    fetchJSONData(url);
  });
</script>
{{ end }}
