<!-- This shortcode builds a security responses data table by importing a JSON file and populating the table from specific objects in that file.
 Shortcode parameter: url="<some web address or local file>" This points the shortcode to a specific JSON file to use for rendering the table.
 Shortcode assumed values:
   - These json objects are specifically used to populate the securityTable, versionSelect, and advisory-details sections with values:
     - cve
	 - moreinfo
	 - component
	 - description
	 - productVersion
	 - severity
	 - impactTruenas
	 - truenasSecurityRisk
	 - ixbug
	 Update these strings as needed throughout this file and the .js file imported for dynamic tables if the imported json file uses different object names.
  -->

{{ if .IsNamedParams }}
<button onclick="exportTableToCSV()" class="security-button">Export Current Table</button>
<input type="text" id="searchInput" placeholder="Search...">
<select id="versionSelect" onchange="onVersionSelectChange()" class="security-button" aria-label="Version Selector">
  <option value="all">Select a Version</option>
</select>
<span class="securitycheckbox">
  <label for="showFalsePositivesCheckbox"><b>Show False Positives:</b></label>
  <input class="securitycheck" type="checkbox" id="showFalsePositivesCheckbox" onchange="filterTable()">
</span>
<button onclick="resetTable()" class="security-button" style="float:right">Reset Table</button>
<div class="tablecontainer" id="tablecontainer">
  <table id="securityTable" class="truetable">
    <thead style="position:sticky;z-index:1;top:0;">
      <tr> <!-- Adjust these headers to reflect the json object keys that are being imported -->
        <th onclick="sortTable(0)">Reference </th>
        <th onclick="sortTable(1)">Base Severity (NIST) </th>
		<th onclick="sortTable(2)">Description </th>
		<th onclick="sortTable(3)">TrueNAS Vulnerability Rating </th>
		<th onclick="sortTable(4)">Fix Version </th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <!-- Table rows will be dynamically added here -->
    </tbody>
  </table>
</div>
<div id="advisory-details" class="advisory-details"><!-- additional information about a clicked row is made visible here --></div>

<script>
let jsonData = [];

function fetchJSONData() {
  fetch('{{ .Get "url" }}')
    .then(response => response.json())
    .then(data => {
      console.log(data);
      jsonData = data;
      generateVersionOptions(data);
    })
    .catch(error => console.log(error));
}

function generateVersionOptions(data) {
  const versionSelect = document.getElementById('versionSelect');
  const uniqueVersions = [...new Set(data.map(item => item.productVersionImpacted))];
  uniqueVersions.forEach(version => {
    const option = document.createElement('option');
    option.value = version;
    option.textContent = version;
    versionSelect.appendChild(option);
  });
}

function onVersionSelectChange() {
  const selectedVersion = document.getElementById('versionSelect').value;

  if (selectedVersion === 'all') {
    // Clear the table if "Version Select" is chosen
    clearTable();
  } else {
    // Fetch and populate the table based on the selected version
    filterTableByVersion(selectedVersion);
  }
}

function clearTable() {
  const tableBody = document.getElementById('tableBody');
  tableBody.innerHTML = '';
  resetDetails();
}

function filterTableByVersion(selectedVersion) {
  const filteredData = jsonData.filter(item => item.productVersionImpacted === selectedVersion && item.truenasSecurityRisk !== 'False Positive');
  populateTable(filteredData);
}
function populateTable(data) {
  const tableBody = document.getElementById('tableBody');
  tableBody.innerHTML = '';
  data.forEach(item => {
    const cve = item.reference;
    const component = item.component;
    const description = item.description;
    const version = item.productVersionImpacted;
    const severity = item.severity;
    const impacttruenas = item.truenasSecurityRisk;
    const fixversion = item.productVersionResolvedIn;
    if (!showFalsePositivesCheckbox && impacttruenas === 'False Positive') {
      return;
    }
    const row = document.createElement('tr');
    row.onclick = function() {
      showDetails(item);
    };
    row.dataset.relatedVersion = version; // Set the data-related-version attribute

    const cveCell = document.createElement('td');
    const cveLink = document.createElement('a');
    cveLink.textContent = cve;
    const link = item.moreinfo;
    cveLink.href = link;
    cveLink.target = '_blank';
    cveCell.appendChild(cveLink);
    row.appendChild(cveCell);

    const severityCell = document.createElement('td');
    severityCell.textContent = severity;
    row.appendChild(severityCell);

    const descriptionCell = document.createElement('td');
    const descriptionText = item.description;
    const truncatedDescription = descriptionText.length > 100 ? descriptionText.substring(0, 100) + '...' : descriptionText;
    descriptionCell.textContent = truncatedDescription;
    row.appendChild(descriptionCell);

    const impacttruenasCell = document.createElement('td');
    impacttruenasCell.textContent = impacttruenas;
    row.appendChild(impacttruenasCell);

    tableBody.appendChild(row);

    const fixversionCell = document.createElement('td');
    fixversionCell.textContent = fixversion + " ";

    var i = document.createElement("i");
    i.className = "material-symbols-outlined";
    i.innerHTML = "link";

    const cveLink2 = document.createElement('a');
    // Not yet
    // const baseUrl = {{ absURL "" }}
    //cveLink2.href = baseUrl + "link/?reference=" + cve;
    cveLink2.href = "https://security.truenas.com/link/?reference=" + cve;


    cveLink2.target = '_blank';
    cveLink2.appendChild(i);
    fixversionCell.appendChild(cveLink2);
    row.appendChild(fixversionCell);
  });
  hideFalsePositives();
}
function showDetails(item) {
  const detailsDiv = document.getElementById('advisory-details');
  detailsDiv.innerHTML = '';
  const previouslySelectedRow = document.querySelector('.selected-row');
  if (previouslySelectedRow) {
    previouslySelectedRow.classList.remove('selected-row');
  }
  const currentRow = event.target.parentNode;
  currentRow.classList.add('selected-row');
  const closeButton = document.createElement('button');
  closeButton.textContent = 'Close';
  closeButton.classList.add('close-button', 'security-button');
  closeButton.style = 'float:right';
  closeButton.addEventListener('click', () => {
  detailsDiv.style.display = 'none';
  const tableContainer = document.getElementById('tablecontainer');
  tableContainer.scrollIntoView({ behavior: 'smooth', block: 'start' });
  });
  detailsDiv.appendChild(closeButton);
  const columnsDiv = document.createElement('div');
  columnsDiv.style.display = 'flex';

  const leftColumn = document.createElement('div');
  leftColumn.style.flex = '1';
  leftColumn.style.marginRight = '5rem';

  const rightColumn = document.createElement('div');
  rightColumn.style.flex = '1';
  
  const cveHeader = document.createElement('h3');
  cveHeader.textContent = item.reference;
  leftColumn.appendChild(cveHeader);

  const ixresponseHeader = document.createElement('h3');
  ixresponseHeader.textContent = 'TrueNAS Response';
  rightColumn.appendChild(ixresponseHeader);

  const properties = [
    { label: 'Reference', key: 'moreinfo' },
    { label: 'Component', key: 'component' },
    { label: 'Base Severity (NIST)', key: 'severity' },
    { label: 'Description', key: 'description' },
    { label: 'Related Version', key: 'productVersionImpacted' },
    { label: 'TrueNAS Vulnerability Rating', key: 'truenasSecurityRisk' },
    { label: 'Additional Details', key: 'ixAdditionalInfo' },
    { label: 'Fix Version', key: 'productVersionResolvedIn' },
    { label: 'Ticket', key: 'ixbug' }
  ];

  for (let i = 0; i < properties.length; i++) {
    const prop = properties[i];

    const label = document.createElement('span');
    label.textContent = prop.label + ': ';
	label.style.fontSize = '1.1em';

    const value = document.createElement('span');
    if (prop.key === 'moreinfo') {
      const link = document.createElement('a');
      link.href = item[prop.key];
	  link.target = '_blank';
      link.textContent = item[prop.key];
      value.appendChild(link);
    } else {
      const propValue = item[prop.key];
      if (prop.key === 'ixbug' && propValue !== undefined && propValue !== '' && propValue !== 'None') {
        const link = document.createElement('a');
        link.href = 'https://ixsystems.atlassian.net/browse/' + propValue;
        link.textContent = propValue;
        link.target = '_blank';
        value.appendChild(link);
      } else {
        value.textContent = propValue !== undefined && propValue !== '' ? propValue : 'N/A';
      }
    }

    if (prop.key === 'impactTruenas' || prop.key === 'severity') {
      value.style.fontWeight = 'bold';
    }

    if (prop.key === 'description') {
      const leftItem = document.createElement('div');
	  leftItem.classList.add('detailspacing');
      leftItem.appendChild(label);
      leftItem.appendChild(value);
      leftColumn.appendChild(leftItem);
    } else if (prop.key === 'productVersionImpacted') {
      const rightItem = document.createElement('div');
	  rightItem.classList.add('detailspacing');
      rightItem.appendChild(label);
      rightItem.appendChild(value);
      rightColumn.appendChild(rightItem);
    } else {
      const itemColumn = i < 5 ? leftColumn : rightColumn;
      const itemElement = document.createElement('div');
	  itemElement.classList.add('detailspacing');
      itemElement.appendChild(label);
      itemElement.appendChild(value);
      itemColumn.appendChild(itemElement);
    }
  }

  columnsDiv.appendChild(leftColumn);
  columnsDiv.appendChild(rightColumn);
  detailsDiv.appendChild(columnsDiv);
  detailsDiv.style.display = 'block';
  const hr = detailsDiv.nextSibling;
  if (hr && hr.nodeName === 'HR') {
    hr.remove();
  }
  const nextSibling = detailsDiv.nextSibling;
  if (!nextSibling || nextSibling.nodeName !== 'HR') {
    const hr = document.createElement('hr');
    detailsDiv.parentNode.insertBefore(hr, detailsDiv.nextSibling);
  }
  detailsDiv.scrollIntoView({ behavior: 'smooth', block: 'center' });
}
function sortTable(column) {
  const table = document.getElementById('securityTable');
  const tbody = table.getElementsByTagName('tbody')[0];
  const rows = Array.from(tbody.getElementsByTagName('tr'));
  const isAscending = table.classList.contains(`sorted-${column}`);
  
  for (let i = 0; i < table.rows[0].cells.length; i++) {
    table.rows[0].cells[i].classList.remove('sorted', `sorted-${i}`);
  }
  
  rows.sort((a, b) => {
    const aValue = a.getElementsByTagName('td')[column].innerText;
    const bValue = b.getElementsByTagName('td')[column].innerText;
    
    if (column === 3) { // TrueNAS Vulnerability Rating column
      const ratingOrder = {
        'Critical': 0,
		'High': 0,
        'Medium': 1,
        'Low': 2,
		'TBD': 3,
        'False Positive': 4
      };
      return ratingOrder[aValue] - ratingOrder[bValue];
    }
    
    return aValue.localeCompare(bValue);
  });
  
  if (isAscending) {
    rows.reverse();
    table.classList.remove(`sorted-${column}`);
  } else {
    table.classList.add('sorted', `sorted-${column}`);
  }
  
  for (let i = 0; i < table.rows[0].cells.length; i++) {
    const cell = table.rows[0].cells[i];
    if (i === column) {
      cell.classList.toggle('asc', !isAscending);
      cell.classList.toggle('desc', isAscending);
    } else {
      cell.classList.remove('asc', 'desc');
    }
  }
  
  tbody.innerHTML = '';
  rows.forEach(row => tbody.appendChild(row));
}
function filterTable() {
  const input = document.getElementById('searchInput');
  const filter = input.value.toUpperCase();
  const table = document.getElementById('securityTable');
  const rows = table.getElementsByTagName('tr');

  const showFalsePositivesCheckbox = document.getElementById('showFalsePositivesCheckbox').checked;

  for (let i = 1; i < rows.length; i++) {
    const cells = rows[i].getElementsByTagName('td');
    let foundMatch = false;
    let isFalsePositive = false;

    for (let j = 0; j < cells.length; j++) {
      const cell = cells[j];

      if (cell) {
        const cellText = cell.textContent || cell.innerText;

        if (cellText.toUpperCase().indexOf(filter) > -1) {
          foundMatch = true;
          break;
        }
      }
    }

    if (!showFalsePositivesCheckbox) {
      const vulnerabilityRatingCell = rows[i].getElementsByTagName('td')[3];

      if (vulnerabilityRatingCell && vulnerabilityRatingCell.textContent === 'False Positive') {
        isFalsePositive = true;
      }
    }

    rows[i].style.display = foundMatch && (!isFalsePositive || showFalsePositivesCheckbox) ? '' : 'none';
  }

  resetDetails();
}

const searchInput = document.getElementById('searchInput');
searchInput.addEventListener('input', filterTable);
function exportTableToCSV() {
  const table = document.getElementById('securityTable');
  const rows = table.getElementsByTagName('tr');
  const visibleRows = Array.from(rows).filter(row => row.style.display !== 'none');
  const ixHeaders = [
    'Reference',
    'Reference Link',
    'Component',
    'Base Severity (NIST)',
    'Description',
    'Related Version',
    'TrueNAS Vulnerability Rating',
    'Additional Details',
    'Resolution Version',
    'Resolution Ticket'
  ];
  const data = visibleRows.map(row => {
    const cells = Array.from(row.querySelectorAll('td'));
    if (cells.length > 0) {
      const cve = cells[0].textContent;
      const jsonItem = jsonData.find(item => item.reference === cve);
      if (jsonItem) {
        // Update the keys as needed based on the JSON object properties
        return [
          `"${jsonItem.reference}"`,
          `"${jsonItem.moreinfo}"`,
          `"${jsonItem.component}"`,
          `"${jsonItem.severity}"`,
          `"${jsonItem.description.replace(/"/g, '""')}"`,
          `"${jsonItem.productVersionImpacted}"`,
          `"${jsonItem.truenasSecurityRisk}"`,
          `"${jsonItem.ixAdditionalInfo.replace(/"/g, '""')}"`,
          `"${jsonItem.productVersionResolvedIn}"`,
          `"${jsonItem.ixbug}"`
        ];
      }
    }
    return [];
  });
  data.unshift(ixHeaders);
  const csvContent = data.map(row => row.join(',')).join('\n');
  const link = document.createElement('a');
  const blob = new Blob([csvContent], { type: 'text/csv' });
  link.href = URL.createObjectURL(blob);
  link.download = 'ixsystems-advisory-responses.csv';
  link.click();
}

function resetTable() {
  const tableBody = document.getElementById('tableBody'); // Get the table body instead of the entire table
  const showFalsePositivesCheckbox = document.getElementById('showFalsePositivesCheckbox');
  const versionSelect = document.getElementById('versionSelect');

  while (tableBody.firstChild) {
    tableBody.removeChild(tableBody.firstChild);
  }

  searchInput.value = '';
  versionSelect.value = 'all';

  const headers = document.getElementById('securityTable').getElementsByTagName('th');
  for (let i = 0; i < headers.length; i++) {
    headers[i].classList.remove('asc', 'desc');
  }

  showFalsePositivesCheckbox.checked = false;

  resetDetails();
}
function filterTableByVersion() {
  const versionDropdown = document.getElementById('versionSelect');
  const selectedVersion = versionDropdown.value;
  const showFalsePositivesCheckbox = document.getElementById('showFalsePositivesCheckbox');

  let filteredData;
  if (selectedVersion === 'all') {
    filteredData = jsonData; // Assign jsonData to filteredData when 'all' is selected
    showFalsePositivesCheckbox.checked = false; // Uncheck the Show False Positives checkbox
  } else {
    filteredData = jsonData.filter(item => item.productVersionImpacted === selectedVersion && item.vulnerabilityRating !== 'False Positive');
    showFalsePositivesCheckbox.checked = false; // Uncheck the Show False Positives checkbox for selected version
  }

  populateTable(filteredData);
  resetDetails();
}
function resetDetails() {
  const detailsDiv = document.getElementById('advisory-details');
  detailsDiv.innerHTML = '';
  detailsDiv.style.display = 'none';
}
function hideFalsePositives() {
  const table = document.getElementById('securityTable');
  const rows = table.getElementsByTagName('tr');

  for (let i = 1; i < rows.length; i++) {
    const impacttruenasCell = rows[i].getElementsByTagName('td')[3];

    if (impacttruenasCell && impacttruenasCell.textContent === 'False Positive') {
      rows[i].style.display = 'none';
    }
  }
}
fetchJSONData();
</script>
{{ end }}
