<!-- This shortcode builds a Software SBOM list by importing a JSON file and populating the table from specific objects in that file.
 Shortcode assumed values:
   - These json objects nested inside the "packages" array are used to populate the securityTable with values:
     - packages > name
     - packages > versionInfo
     - packages > licenseDeclared
-->
<!-- Updated HTML code -->
<button class="security-button" id="SBOMdownloadButton" onclick="downloadSBOM()">Download SBOM</button>
<select id="fileSelect" onchange="fetchJSONData()">
  <option value="">Select TrueNAS Version</option>
  {{ range $file := site.Data.core_sbomfiles }}
  <option value="{{ $file }}">{{ $file }}</option>
  {{ end }}
</select>
<input type="text" id="searchInput" placeholder="Search..." style="display: none;">
<button onclick="resetTable()" class="security-button" style="float:right;display:none;">Reset Table</button>
<div class="tablecontainer">
  <table id="securityTable" class="truetable">
    <thead style="position:sticky;z-index:1;top:0;">
      <tr>
        <th onclick="sortTable(0)">Name</th>
        <th onclick="sortTable(1)">Version</th>
        <th onclick="sortTable(2)">License</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <!-- Table rows will be dynamically added here -->
    </tbody>
  </table>
</div>

<script>
let jsonData = [];

function fetchJSONData() {
  const select = document.getElementById('fileSelect');
  const selectedFile = select.value;
  const downloadButton = document.getElementById('SBOMdownloadButton');
  const searchInput = document.getElementById('searchInput');
  const resetButton = document.querySelector('button[onclick="resetTable()"]');
  
  if (selectedFile) {
    fetch('/sboms/' + selectedFile + '.json')
      .then(response => response.json())
      .then(data => {
        console.log(data);
        jsonData = data;
        populateTable(data);
        downloadButton.style.display = 'inline';
        searchInput.style.display = 'inline';
        resetButton.style.display = 'inline';
      })
      .catch(error => console.log(error));
  } else {
    const tableBody = document.getElementById('tableBody');
    tableBody.innerHTML = '';
    downloadButton.style.display = 'none';
    searchInput.style.display = 'none';
    resetButton.style.display = 'none';
  }
}

function populateTable(data) {
  const tableBody = document.getElementById('tableBody');
  tableBody.innerHTML = '';

  data.packages.forEach(package => {
    const name = package.name || 'Unknown';
    const version = package.version || 'Unknown';
    const license = package.licenses || 'Unknown';

    const row = document.createElement('tr');

    const nameCell = document.createElement('td');
    nameCell.textContent = name;
    row.appendChild(nameCell);

    const versionCell = document.createElement('td');
    versionCell.textContent = version;
    row.appendChild(versionCell);

    const licenseCell = document.createElement('td');
    licenseCell.textContent = license;
    row.appendChild(licenseCell);

    tableBody.appendChild(row);
  });
}
function sortTable(column) {
  const table = document.getElementById('securityTable');
  const tbody = table.getElementsByTagName('tbody')[0];
  const rows = Array.from(tbody.getElementsByTagName('tr'));
  const isAscending = table.classList.contains(`sorted-${column}`);

  for (let i = 0; i < table.rows[0].cells.length; i++) {
    table.rows[0].cells[i].classList.remove('sorted', `sorted-${i}`);
  }

  rows.sort((a, b) => {
    const aValue = a.getElementsByTagName('td')[column].innerText;
    const bValue = b.getElementsByTagName('td')[column].innerText;
    return aValue.localeCompare(bValue);
  });

  if (isAscending) {
    rows.reverse();
    table.classList.remove(`sorted-${column}`);
  } else {
    table.classList.add('sorted', `sorted-${column}`);
  }

  for (let i = 0; i < table.rows[0].cells.length; i++) {
    const cell = table.rows[0].cells[i];
    if (i === column) {
      cell.classList.toggle('asc', !isAscending);
      cell.classList.toggle('desc', isAscending);
    } else {
      cell.classList.remove('asc', 'desc');
    }
  }

  tbody.innerHTML = '';
  rows.forEach(row => tbody.appendChild(row));
}

function filterTable() {
  const input = document.getElementById('searchInput');
  const filter = input.value.toUpperCase();
  const table = document.getElementById('securityTable');
  const rows = table.getElementsByTagName('tr');

  for (let i = 1; i < rows.length; i++) {
    const cells = rows[i].getElementsByTagName('td');
    let foundMatch = false;

    for (let j = 0; j < cells.length; j++) {
      const cell = cells[j];

      if (cell) {
        const cellText = cell.textContent || cell.innerText;

        if (cellText.toUpperCase().indexOf(filter) > -1) {
          foundMatch = true;
          break;
        }
      }
    }

    rows[i].style.display = foundMatch ? '' : 'none';
  }

  resetDetails();
}

searchInput.addEventListener('input', filterTable);

function resetTable() {
  const table = document.getElementById('securityTable');
  const rows = table.getElementsByTagName('tr');

  const select = document.getElementById('fileSelect');
  select.value = '';

  const tableBody = document.getElementById('tableBody');
  tableBody.innerHTML = '';
  
  const searchInput = document.getElementById('searchInput');
  searchInput.value = '';
  searchInput.style.display = 'none';
  
  const resetButton = document.querySelector('button[onclick="resetTable()"]');
  resetButton.style.display = 'none';

  const downloadButton = document.getElementById('SBOMdownloadButton');
  downloadButton.style.display = 'none';
  
  for (let i = 0; i < rows.length; i++) {
    rows[i].style.display = '';
  }

  const headers = table.getElementsByTagName('th');

  for (let i = 0; i < headers.length; i++) {
    headers[i].classList.remove('asc', 'desc');
  }
}
function downloadSBOM() {
  const select = document.getElementById('fileSelect');
  const selectedFile = select.value;

  if (selectedFile) {
    const sbomData = JSON.stringify(jsonData);
    const blob = new Blob([sbomData], { type: 'application/json' });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = selectedFile + '.json';
    a.click();
    URL.revokeObjectURL(url);
  }
}
</script>
