{{ $link := .Get "link" }}
{{ $page := site.GetPage $link }}
{{ $doctype := .Get "doctype" | default (cond (and $page $page.Params.doctype) $page.Params.doctype "none") | lower }}

{{ $labelColor := "" }}
{{ $tooltip := "" }}
{{ $showLabel := true }} <!-- This flag will control whether to show the label -->

{{- if eq $doctype "none" -}}
  {{ $showLabel = false }} <!-- Do not show label if 'none' is specified -->
{{- else if eq $doctype "tutorial" -}}
  {{ $labelColor = "label-tutorial" }}
  {{ $tooltip = "Hands-on introduction for new users or those looking to deepen their knowledge" }}
{{- else if eq $doctype "how-to" -}}
  {{ $labelColor = "label-howto" }}
  {{ $tooltip = "Step-by-step guides covering key operations and common tasks" }}
{{- else if eq $doctype "reference" -}}
  {{ $labelColor = "label-reference" }}
  {{ $tooltip = "Description of UI screens and fields, including technical information like requirements and specifications" }}
{{- else if eq $doctype "foundations" -}}
  {{ $labelColor = "label-foundations" }}
  {{ $tooltip = "Overviews and deeper dives into key topics, concepts, and clarifications" }}
{{- end }}

<a class="section-box" href="{{ $link }}">
  {{ if .Get "image" }}
    <div class="box-image">
      <img class="prod-card-img" src="{{ .Get "image" }}" aria-label="{{ .Get "title" }} Documentation Page">
    </div>
  {{ end }}
  <div class="section-tab-content ixprods" style="position: relative; padding-top: {{ if $showLabel }}2.8rem{{ else }}0rem{{ end }};">
    {{ if and $showLabel $doctype }}
      <div class="doctype-label {{ $labelColor }}">
        {{ $doctype | title }}
        <span class="custom-tooltip">{{ $tooltip }}</span>
      </div>    
    {{ end }}
    <b style="justify-content:center;font-size:1.5rem;font-weight:600;">{{ .Get "title" }}</b>
    <p>{{ .Get "descr" }}</p>
  </div>  
</a>
