{{- /* Support named parameters (preferred) and positional (legacy) */ -}}
{{- $type := .Get "type" | default (.Get 0) | default "note" -}}
{{- $title := .Get "title" | default "" -}}
{{- $content := .Inner | strings.TrimSpace -}}

{{- /* Replace blank lines with <br><br> to prevent nesting issues */ -}}
{{- /* Handle various patterns of blank lines */ -}}
{{- $content = replace $content "\n\n\n" "<br><br>" -}}
{{- $content = replace $content "\n\n" "<br><br>" -}}
{{- $content = replace $content "\r\n\r\n" "<br><br>" -}}

{{- $type = upper $type | printf "[!%s]" -}}

{{- $markdown := printf "> %s" $type -}}
{{- if $title -}}
  {{- $markdown = printf "> %s %s" $type $title -}}
{{- end -}}

{{- /* Add each line of content as a blockquote line */ -}}
{{- range split $content "\n" -}}
  {{- $markdown = printf "%s\n> %s" $markdown . -}}
{{- end -}}

{{ .Page.RenderString $markdown }}
