<p>
<b>Export Current View</b> downloads a <file>.csv</file> file containing all the information about the advisories that are currently visible in the table.
Filter the table with the <b>Search</b> box and the <b>Select a Product</b> dropdown.
To see all potential vulnerabilities that iXsystems has assessed as not applicable to the product, set <b>Show False Positives</b>.
<b>Reset Table</b> returns the table to the full view.
</p>
<p>
Clicking a table header sorts entries in ascending or descending alphabetical order.
Click a table row to see additional details and an iXsystems-generated response to the advisory.
</p>